{% extends 'base.html.twig' %}
{% block title %}Acceuil{% endblock %}
{% block body %}
    <div id="wrapper" style="margin-top: 20px;">
        <div class="d-flex flex-column" id="content-wrapper" style="background-color: transparent;">
            <div id="content" style="margin-top: 30px;">
                <div class="container bg-gray-300 rounded pr-3 pl-3 pb-3 pt-1">
                    <h1 class="text-center mt-3 ">Histoire de la LSPD</h1>
                    <p class="text-center">Les années 1850, avant la guerre de sécession, entraînèrent la Californie dans un tourbillon d'événements passionnants. Les trois années précédentes ont vu des dizaines de milliers de prospecteurs du monde entier attirés par la promesse de richesses soudaines dans les champs aurifères. La fin de la guerre du Mexique a ajouté de vastes territoires aux États-Unis. La Californie fut accueillie dans l'Union comme nouvel État, faisant de la ville de Los Angeles avec ses 1 610 habitants, son point central. Pendant de nombreuses années, Los Angeles continua de s'agrandir grâce à l'arrivée de nouveaux habitants, quoique manquant d'infrastructures adaptées. Des centaines de familles, des agriculteurs, des éleveurs et des commerçants s'y installèrent, mais aussi des joueurs désabusés des contreforts de la Sierra, des voleurs de chevaux et des renégats. Le Far West n'a jamais été aussi sauvage.
                        <br>
                        La création de ce qui deviendra, le LAPD résulta d'un assassinat en 1853. La victime était Jack "chasse à la baleine", second marshal de la ville. Cela incita le maire, le Dr.AW Hope à organiser une force de sécurité et de maintien de l'ordre : "Les Rangers de Los Angeles", qui se portèrent volontaires pour aider le shérif du comté aux abois et le bureau du marshal. Les Rangers furent identifiés par un ruban blanc marqué, en anglais et en espagnol : « police de la ville». En parallèle, une force fut créée par le Conseil de Los Angeles, « Les Gardes de Ville » qui au cours de leur courte carrière, étaient vêtus du premier uniforme officiel de police. Ils succédèrent aux Rangers mais leur efficacité fut discutable. Les meurtres se produisaient au rythme d'un par jour, beaucoup résultant de divergences d'opinion exprimées dans les 400 salles de jeux de la ville.
                        <br>
                        À l'époque, la justice était expéditive, souvent au mépris des lois. Durant les années 1860, il y avait un tel climat de violence qu'un groupe de résidents terrifiés, craignant pour leurs vies et leurs biens, fit appel à la France pour leur protection. Le gouvernement français déploya des troupes. On ne sait cependant combien de temps ils sont restés et pourquoi leur présence a été tolérée par le gouvernement des États-Unis.
                        <br>
                        En 1875, la première patrouille à cheval trottait dans les rues non pavées. Ils étaient payés 95 USD par mois pour leurs services, 5 USD de plus que les patrouilleurs à pied et seulement 10 USD de moins que le marshal. Le ministère continua à déployer des officiers montés jusqu'en 1916. En 1876, avec la nomination du chef Gerkens, est arrivé le premier uniforme réglementaire : un manteau de serge bleu et un chapeau de feutre. Les agents achetaient leurs badges avec leur propre argent, pour 6 USD. Entre 1876 et 1889, 15 chefs se sont succédé, incapables ou refusant de faire face aux défis liés à la croissance d'une communauté tapageuse.
                        <br>
                        En 1886, le ministère engagea ses deux premiers officiers afro-américains, Robert William Stewart et Roy Green. Le LAPD est arrivé à maturité en 1889 lorsque John M. Glass fut nommé chef. Il servit pendant onze années et développa le corps de police comme une force d'entraînement reconnue pour son professionnalisme. Il y avait alors 70 officiers, un pour 1 500 habitants. Le siège central, anciennement logé dans l'hôtel de ville de Los Angeles, déménagea au sein d'une nouvelle installation destinée à rester en service pendant 60 ans.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

