{% extends 'base.html.twig' %}
{% block title %}Effectif{% endblock %}
{% block body %}
    <div id="wrapper" style="margin-top: 20px;">
        <div class="d-flex flex-column" id="content-wrapper" style="background-color: transparent;">
            <div id="content" style="margin-top: 30px;">
                <div class="container-fluid">
                    <h3 class="text-center border rounded shadow tableHead">Liste des employes</h3>
                    <div class="table-responsive border rounded shadow" style="background-color: #e8e4e4;">
                        <table class="table">
                            <thead style="color: rgb(255,255,255);background-color: #25476a;">
                                <tr>
                                    <th>Indicatif</th>
                                    <th>Nom Prenom</th>
                                    <th>Grade</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody style="color: rgb(0,0,0);">
                                <tr>
                                    <td>12</td>
                                    <td>Hill John</td>
                                    <td>Commandant</td>
                                    <td style="width: 180px;"><i class="fa fa-toggle-up" style="padding: 5px;color: rgb(10,180,37);"></i><i class="fa fa-toggle-down" style="padding: 5px;color: rgb(80,100,248);"></i><i class="fa fa-window-close-o" style="padding: 5px;color: rgb(255,46,0);"></i></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <h3 class="text-center border rounded shadow tableHead">Liste des grades</h3>
                    <div class="row">
                        <div class="col-xl-5 text-center pannelPerso shadow">
                            <h1 class="text-center border rounded shadow tableHead" style="padding: 0px;">Nouveau grade</h1>
                            <form>
                                <div class="form-group">
                                    <div class="form-row" style="margin-right: 0px;margin-left: 0px;padding-top: 5px;">
                                        <div class="col-md-10 offset-md-1"><input class="form-control" type="text" style="margin-left:0px;font-family:Roboto, sans-serif;" name="order" placeholder="Ordre"></div>
                                    </div>
                                    <div class="form-row" style="margin-right: 0px;margin-left: 0px;padding-top: 5px;">
                                        <div class="col-md-10 offset-md-1"><input class="form-control" type="text" style="margin-left:0px;font-family:Roboto, sans-serif;" name="name" placeholder="Nom"></div>
                                    </div>
                                </div>
                            </form><button class="btn btn-primary" type="button">Enregistrer</button></div>
                        <div class="col">
                            <div class="table-responsive border rounded shadow" style="background-color: #e8e5e5;">
                                <table class="table">
                                    <thead style="color: rgb(255,255,255);background-color: #25476a;">
                                        <tr>
                                            <th style="width: 1px;">Ordre</th>
                                            <th>Nom grade</th>
                                            <th style="width: 127px;">Acces admin</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody style="color: rgb(0,0,0);">
                                        <tr>
                                            <td>5</td>
                                            <td>Commandant</td>
                                            <td class="text-center"><i class="fa fa-check-square-o iconGrade" style="color: rgb(13,163,0);"></i><i class="fa fa-window-close-o iconGrade" style="color: rgb(227,38,38);"></i></td>
                                            <td style="width: 180px;"><i class="fa fa-toggle-up" style="padding: 5px;color: rgb(10,180,37);"></i><i class="fa fa-toggle-down" style="padding: 5px;color: rgb(80,100,248);"></i><i class="fa fa-window-close-o" style="padding: 5px;color: rgb(255,46,0);"></i></td>
                                        </tr>
                                        <tr>
                                            <td>4</td>
                                            <td>Lieutenant</td>
                                            <td class="text-center"><i class="fa fa-check-square-o iconGrade" style="color: rgb(13,163,0);"></i><i class="fa fa-window-close-o iconGrade" style="color: rgb(227,38,38);"></i></td>
                                            <td style="width: 180px;"><i class="fa fa-toggle-up" style="padding: 5px;color: rgb(10,180,37);"></i><i class="fa fa-toggle-down" style="padding: 5px;color: rgb(80,100,248);"></i><i class="fa fa-window-close-o" style="padding: 5px;color: rgb(255,46,0);"></i></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

