{% for label, messages in app.flashes %}
    <div class="container mt-3">
        <div class="alert text-center alert-{{ label }}">
            {% for message in messages %}
                <p>{{ message | raw }}</p>
            {% endfor %}
        </div>
    </div>
{% endfor %}
