<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Forgotten Password - lspdBS</title>
{% include 'partials/head.html.twig' %}
</head>

<body class="bg-gradient-primary" style="background-image: url({{ asset('assets/img/CheerfulBlindBordercollie-size_restricted.gif') }});">
<div class="container">
    {% include 'partials/flash.html.twig' %}

    <div class="row justify-content-center">
        <div class="col-md-9 col-lg-12 col-xl-10">
            <div class="card shadow-lg o-hidden border-0 my-5">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-flex">
                            <div class="flex-grow-1 bg-password-image" style="background-image: url({{ asset('assets/img/badge.jpg') }});"></div>
                        </div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h4 class="text-dark mb-2">Mot de passe oublier?</h4>
                                    <p class="mb-4">Merci de renseigner votre adresse e-mail et de suivre les prochaines instruction qui vont y être envoye.</p>
                                </div>
                                <form class="user">
                                    <div class="form-group">
                                        <input class="form-control form-control-user" type="email" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Adresse mail" name="email">
                                    </div>
                                    <button class="btn btn-primary btn-block text-white btn-user"
                                                                                                                                                                                                                                 type="submit">Réinitialiser mon mot de passe.</button></form>
                                <div class="text-center">
                                    <hr><a class="small" href="{{ path('register') }}">Demander un compte!</a></div>
                                <div class="text-center"><a class="small" href="{{ path('login') }}">Vous avez un compte? Ce connecter</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'partials/js.html.twig' %}
</body>

</html>
